.last-element__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
    margin-bottom: 30px;
}

.p-one {
    margin-bottom: 30px;
}

.last-element__figure-one {
    padding-left: 240px;
    margin-bottom: 30px;
}

.last-element__img-one {
    display: block;
}

.p-two {
    margin-bottom: 30px;
}

.last-element__figure-two {
    line-height: 0;
    margin-bottom: 30px;
}

.last-element__figure-img-first {
    margin-bottom: 30px;
}

.last-element__img-first {
    display: block;
    margin: 0 auto;
}

.p-three {
    margin-bottom: 30px;   
}

.last-element__figure-three {
    margin-bottom: 30px;
}

.last-element__figure-img-one {
    display: block;
    margin-bottom: 30px;
}

.last-element__figure-img-header {
    display: block;
    margin: 0 auto ;
}

.p-four {
    margin-bottom: 30px;
}

.last-element__figure-four {
    margin-bottom: 30px;
}

.last-element__header-menu-item {
    display: block;
    margin: 0 auto;
}

.p-five {
    margin-bottom: 30px;
}

.last-element__img-last-child {
    display: block;
    margin: 0 auto;
}

